﻿@model MenuHistory.Models.Menu
@using MenuHistory.Models

@{
    ViewBag.Title = "Menu";
}

<h2>HTML5 Restaurant Menu</h2>
@{
    var selectedItem = Model.Items.Where(s => s.IsSelected).FirstOrDefault();
    var selectedDish = (selectedItem == null) ? "none" : selectedItem.Key;
    var menuGroups = new List<List<MenuItem>>();
    menuGroups.Add((from i in Model.Items
                    where i.Meal=="Breakfast"
                    select i
                  ).ToList());
    menuGroups.Add((from i in Model.Items
                    where i.Meal == 
                    "Lunch"
                    select i
                  ).ToList());
    menuGroups.Add((from i in Model.Items
                    where i.Meal == "Dinner"
                    select i
                  ).ToList());
}
<aside class="preview-dish">
    @foreach (var mealList in menuGroups) {
        var titleClass = Model.SelectedMeal == mealList.First().Meal ? "active" : "";
        <section class="menu @titleClass" data-meal="@mealList.First().Meal">
            <h3>@mealList.First().Meal</h3>
             <ul>
                  @foreach (var item in mealList)
                  {
                      var itemClass = selectedDish == item.Key ? "selected" : "";
                      <li class="menu-item @itemClass" data-dish="@item.Key">
                          @Html.RouteLink(
                             item.DishName, "Menus", new {meal=item.Meal,dish=item.Key}
                          );
                      </li>
                  }
             </ul>
        </section>
    }
</aside>

